
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<section class="ftco-section testimony-section" style="background-image: url('../hometemp/images/bg_2.jpg');">
    <div class="row justify-content-center pb-5 mb-3">
		  <div class="col-md-7 heading-section text-center ftco-animate">
			<h2>Happy Clients &amp; Feedbacks</h2>
		  </div>
		</div>

    <div class="about-author d-flex p-4 bg-light">
        <div class="bio mr-5">
            <img src="~/hometemp/images/image_1.jpg" alt="" class="img-fluid">
        </div>
        <div class="desc">
            
            <p><img src="~/hometemp/images/image_2.jpg" alt="" class="img-fluid"></p>
        </div>
    </div>
</section>